#groupEvent-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 16px 0px 16px;
}

#groupEvent-link-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
}

.un-highlighted-header {
    margin-right: 16px;
    color: grey;
    text-decoration: none;
    margin-top: 8px;
}

.highlighted {
    color: red;
    text-decoration: underline;
    margin-right: 16px;
    font-size: 36px;
}

#groupEvent-header-text {
    justify-self: flex-start;
    width: 90%;
    padding-bottom: 12px;
    border-bottom: 2px lightgrey solid;
    color: grey;
}

#groups-container {
    width: 90%;
}

#item-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: solid 2px lightgrey;
}

#group-detail-page-container {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.item-image {
    width: 480px;
    margin-right: 16px;
}

#item-container {
    text-decoration: none;
    color: black;
}

.img-detail-container {
    display: flex;
    flex-direction: row;
}

.back-button {
    font-size: 20px;
}

#group-preview-img {
    width: 50%;
}