#groupEvent-page-container{
    display: flex;
    flex-direction: column;
    margin: 32px 16px 0px 16px;
}

#group-detail-container {
    width: 80%;
    align-self: center;
}

#groupEvent-link-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
}

.un-highlighted-header {
    margin-right: 16px;
    color: grey;
    text-decoration: none;
    margin-top: 8px;
}

.highlighted {
    color: red;
    text-decoration: underline;
    margin-right: 16px;
    font-size: 36px;
}

#groupEvent-header-text {
    justify-self: flex-start;
    width: 90%;
    padding-bottom: 12px;
    border-bottom: 2px lightgrey solid;
    color: grey;
}

#groups-container {
    width: 90%;
}

#item-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: solid 2px lightgrey;
}

#group-detail-page-container {
    display: flex;
    flex-direction: column
}

#group-detail-background-color {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 11, 163, 0.1);
    margin-top: 32px;
}

.item-image {
    width: 480px;
    margin-right: 16px;
}

#item-container {
    text-decoration: none;
    color: black;
}

#event-item-container {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    border-bottom: solid 2px lightgrey;
    margin-bottom: 16px;
}

#event-image-detail-container {
    display: flex;
    flex-direction: row;
}

.img-detail-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-self: center;
}

.back-button {
    font-size: 20px;
}

#group-preview-img {
    width: 70%;
    margin-right: 16px;
}

#event-about-text {
    margin-bottom: 16px;
}

#event-list-item-container {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    border: solid 1.5px grey;
    margin-bottom: 16px;
    width: 70%;
}

.event-list-item-image {
    width: 50%;
    margin: 16px 16px 0px 16px
}

#event-list-image-detail-container {
    display: flex;
    flex-direction: row;
}

#event-list-details-container {
    margin: 0px 8px 0px 8px
}

.event-list-item-texts {
    font-size: 16px;
    margin-left: 16px;
}
