p {
  font-family: Helvetica, Arial, sans-serif;
}

li {
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.app-icon {
  width: auto;
  font-size: 80px;
  margin-bottom: 10px;
}

#header-container {
  display: flex;
  flex-direction: row;
  border-bottom: grey solid 2px;
  background-color: rgb(180, 180, 255, 0.15);
}

#user-auth {
  align-self: center;
}

#start-new-group {
  align-self: center;
  margin: 0 24px 0 auto;
}

.start-new-group-link {
  text-decoration: none;
}