.profile-dropdown {
    position: absolute;
    top: 60px;
    right: 8px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    list-style: none;
    z-index: 1;
}

.profile-dropdown.hidden {
    display: none;
}

.fa-user-circle {
    width: 54px;
    font-size: 20px;
    margin: 4px;
    /* border: 2px blue solid; */
}

.profile-details {
    margin: 8px;
}

.user-log-out-button {
    border: 2px blue solid;

}